html,body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: #272932;
}

a {
    color: cornflowerblue;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.nograb {
    user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

/*Navbar */
#header {
    font: 20px Arial;
	color: #f7f7f7;
	background-color: #262626;
	font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #272932;
    padding: 5px;
}

#header-logo img {
    height: 56px;
}

#nav {
    position: relative;
	background-color: #121212;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    flex: 1;
    margin-top: 1px;
    overflow: hidden;
}

#nav li {
    float: left;
    max-height: 100%;
    border-right: 2px solid #262626;
}

#nav li:last-child {
    float: right;
    border: none;
}

#nav a {
    font-size: 130%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#nav a:hover {
    color: #1a1a1a;
	background-color: white;
}

#this {
	background-color: grey;
    border-bottom: solid white 1px;
}

/*Content*/
#content {
    background-color: #D1D1D1;
    width: 90%;
    min-height: 80%;
}

#content h1 {
    margin-left: 6px;
}

#content p {
    margin-left: 15px;
}

/*Maps*/

.rgnsvg {
    width: 16px;
}

.rgnlink {
    font-size: 120%;
}

#worldmap {
    width: 1145px;
    height: 570px;
}

#regionlist td {
    padding: 10px;
}

/*Custom classes*/
bold {
    font-weight: bold;
}
