body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: #272932;
}

a {
    color: cornflowerblue;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.cleared {
    clear: both;
}

.uncentered {
    text-align: left;
}

.nograb {
    user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

/*Navbar */
#header {
    font: 20px Arial;
	color: #f7f7f7;
	background-color: #262626;
	font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #272932;
    padding: 5px;
}

#header-logo img {
    height: 56px;
}

#nav {
    position: relative;
	background-color: #121212;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    flex: 1;
    margin-top: 1px;
    overflow: hidden;
}

#nav li {
    float: left;
    max-height: 100%;
    border-right: 2px solid #262626;
}

#nav li:last-child {
    float: right;
    border: none;
}

#nav a {
    font-size: 130%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#nav a:hover {
    color: #1a1a1a;
	background-color: white;
}

#this {
	background-color: grey;
    border-bottom: solid white 1px;
}

/*Content*/
#content {
    background-color: #D1D1D1;
    width: 90%;
}

#content h1 {
    margin-left: 6px;
}

#content p {
    margin-left: 15px;
}

/*Maps*/

.rgnsvg {
    width: 16px;
}

.rgnlink {
    font-size: 120%;
}

#worldmap {
    width: 1145px;
    height: 570px;
}

#regionlist td {
    padding: 10px;
}

/*Magic*/

.mgclink {
    display: block;
}

.mgclink:hover {
    background-color: grey;
    color: white;
}

.mgclink img {
    padding: 10px;
}

.mgclink:hover img {
    background-color: grey;
}

#basic {
    float: left;
    padding-left: 20%;
}

#hybrid {
    float: right;
    padding-right: 20%;
}

#spiritual {
    clear: both;
}

/*Writings*/

.booklist td {
    padding: 20px;
}

.booklist a {
    display: block;
    padding: 10px;
}

.booklist a:hover {
    background-color: grey;
    color: white;
}

.booklist img {
    max-height: 180px;
}

.booktitle {
    margin-top: -4px;
    font-weight: bold;
    text-decoration: none;
}

/*Popups*/

.popupmap {
    height: 160px;
}

.margin-runetop {
    margin-top: 3px;
}

#popupcloser {
    font-size: 200%;
}

/*Custom classes*/
bold {
    font-weight: bold;
}
